/*
Date: october 27th, 2007
Author: Richard Shank
Source: zelunetemplates.com
*/

* { padding:0; margin:0; }

body {
	background-color:#4a6a13;
	background-image:url(images/bg.gif);
	background-repeat:repeat-x;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#4a6a13;
}

#wrapper {
	width:624px;
	margin:0 auto;
}

h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:lighter;
	color:#FFF;
	margin:10px 0 10px 0;
}

h2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#4a6a13;
	padding:5px 0 0 10px;
	text-align:left;
}			

#nav {
	background-image:url(images/nav.gif);
	background-repeat:no-repeat;
	width:624px;
	height:36px;
}

#nav .left {
	float: left;
	padding: 10px 0 0 5px;
}

	#nav .left a {
		color:#fff;
		text-decoration:none;
		padding:6px 8px 12px 8px;
	}

		#nav .left a:hover {
			background-color:#4a6a13;
		}
		
#content {
	background-color:#FFFFFF;
}

.ad {
	padding:10px 0 0 10px;
}	

p {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#4a6a13;
	padding:0 10px 0 10px;
}	

#foot {
	background-image:url(images/foot.gif);
	height:18px;
	width:624px;
}	

#footer {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#fff;
}

	#footer a:link,a:visited {
		color:#FFF;
		text-decoration:none;
	}

		#footer a:hover {
			text-decoration:underline;
		}	

#go {
	width:76px;
	height:34px;
	background-color:#4a6a13;
	font-size:18px;
	border:0px;
	margin-left:4px;
	color:#ffffff;
}
#address_box {
	background-color:#FFF;
	width:400px;
	height:26px;
	border:1px solid #4a6a13;
	color:#4a6a13;
	padding-top:6px;
	margin-top:10px;
	font-size:18px;
	padding-left:1px;
}

#favorites{
	padding: 5px;
	margin: 10px 5px;
	border: 1px solid #4a6a13;
	text-align:center;
	width : 600px;
	clear:both;
}

#favorites a {
	font-family: Tahoma , Arial;
	font-size: 9pt;
	direction:ltr;
	text-align:center;
	color:#003333;
	text-decoration:none;
	width : 600px;
}

#rss{
	padding: 5px;
	margin: 5px 5px 5px 5px;
	border: 2px solid #003300;
	text-align:center;
}

#rss marquee a {
	font-family: Tahoma , Arial;
	font-weight:bold;
	font-size: 9pt;
	direction:ltr;
	text-align:center;
	color:#003333;
	text-decoration:none;
}

#options {
   list-style-type: none;
   width: 500px;
   margin: 5px; padding: 0;
   text-align: left;
   border: 1px red;
}

#options li { 
   border-left: 5px solid #ccc;
   text-align: left;
   background-color:#FFF;
   padding: 2px 0;
   background-color: #EEEBEA;
}

#error, #auth
{
    background-color: #BF6464;
    border-top: 1px solid #44352C;
    border-bottom: 1px solid #44352C;
    width: 100%;
    clear: both;
}

#auth
{
    background-color: #94C261;
}

#error p, #auth p, #auth form
{
    margin: 5px;
	color:black;
}








		
